{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Codestorm</title>
	    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

		{% block css %}

		{% endblock %}

	</head>
	<body>
		<header>
			
			<nav class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="navigation">
					<div class="container1">					
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<div class="navbar-brand">
								<a href="{% url 'dashboard' %}"><h1><span>Code</span>Storm</h1></a>
							</div>
						</div>
						
						<div class="navbar-collapse collapse">							
							<div class="menu">
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation"><a href="{% url 'dashboard' %}">Dashboard</a></li>
									<li role="presentation"><a href="{% url 'rules' %}">Rules</a></li>
									<li role="presentation"><a href="{% url 'announcements' %}">Announcement</a></li>
									<li role="presentation"><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
									<li role="presentation"><a href="{% url 'logout_view' %}">Logout</a></li>
									<li id="nav-name">
										<img src="{{ user.avatar }}" id="user-img">
										{{ user.name }}
									</li>
								</ul>
							</div>
						</div>						
					</div>
				</div>	
			</nav>
		</header>

		<div class="wrapper">
			{% block content %}

			{% endblock %}
			<div class="push"></div>
		</div>

		<footer>		
			<div class="last-div footer">
				<div class="container">
					<div class="row">
						<div class="copyright">
							@gdgjssnoida. All Rights Reserved
						</div>
					</div>
				</div>	
			</div>
		</footer>

		<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    	<script src="{% static 'js/bootstrap.min.js' %}"></script>

    	{% block script %}

    	{% endblock %}

	</body>
</html>