{% extends "include/base.html" %}

{% load staticfiles %}

{% block content %}

	<center><h1>ANNOUNCEMENT</h1></center>

	<br><br>
	<section id="section-works" class="section appear clearfix">
			<div class="container">						
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="portfolio-items isotopeWrapper clearfix" id="3">							  
								{% for announcement in Announcement %}
									<article class="col-md-4 isotopeItem webdesign">
										<div class="portfolio-item">
											<div class="wow rotateInUpLeft" data-animation-delay="4.8s">
												<img src="{{ MEDIA_URL }}{{ announcement.image }}" alt="welcome" />
											</div>
											<div class="portfolio-desc align-center">
												<div class="folio-info">
													<h5>{{ announcement.announcement }}</h5>
												</div>										   
											</div>
										</div>
									</article>
								{% endfor %}

							</div>                                       
						</div>                                     
					</div>
				</div>				
			</div>
		</section>

{% endblock %}
