{% extends "include/base.html" %}


{% block content %}
	
	<br><br>
	<div class="panel panel-default container">			
		<div class="panel-body">
			<table class="table bootstrap-datatable">
				<thead>
					<tr>
						<th >S.No</th>
						<th>Problem Statement</th>
						<th class="text-center">Submissions</th>
						<th class="text-center">Accuracy</th>
					</tr>
				</thead>   
				<tbody>
					{% for question in questions %}
						<tr>
							<td>{{ question.id }}</td>
							<td class="text-justify">
								<a href="/question_detail/{{ question.id }}">{{ question.title }}</a>
							</td>
							<td class="text-center">{{ question.total_submissions }}</td>
							<td class="text-center">{{ question.accuracy }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div><br>











	<h1>Dashboard</h1>

	<br><br>
	<img src="{{ user.avatar }}" width="70" height="70">
	<p>{{ user.name }}</p>

	<br><br>
	<ul>
		{% for question in questions %}
			<li><a href="/question_detail/{{ question.id }}">{{ question.title }}</a></li><br />
			Total Submission : {{ question.total_submissions }}<br /><br />
			Accuracy: {{ question.accuracy }}
			<br /><br />
		{% endfor %}

	</ul>

{% endblock %}
