{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeStorm</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body background="{% static 'img/bg-2.jpg' %}">
    
    <center>
        <!-- <button class="loginBtn loginBtn--google"> -->
            <a href="{% url 'login_google' %}" class="btn loginBtn loginBtn--google">Login with Google</a>
        <!-- </button> -->
    </center>
</body>
</html>