{% extends "include/base.html" %}

{% load staticfiles %}

{% block css %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">

{% endblock %}

{% block content %}

	<br><br>
	<div class="panel panel-default container">			
		<div class="panel-body">
			<section id="content">
		<div class="container">
			<div class="row">
    			<div class="col-xs-12 col-sm-12 col-md-12">
					<form role="form" class="register-form" method="post" action="">
						{% csrf_token %}
						<center><h2>Profile</h2></center>
						<hr id="colorgraph">
						<div class="form-group">
							{{ form }}
						</div>
						<hr id="colorgraph">
						<input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" tabindex="7" id="submit-btn">
					</form>
				</div>
			</div>
		</div>
	</section>
		</div>
	</div>
	<br>
	<br>

{% endblock content %}
