{% include "header.html" %}

{% block content %}



<h3>{{ question.title }}</h3>


<br />
<br />

<p>{{ question.detail }}</p>

<br />
<br />

<p>{{ question.constraint }}</p>

<br />
<br />

<p>{{ question.input_format }}</p>

<br />
<br />

<p>{{ question.output_format }}</p>

<br />
<br />

<p>{{ question.sample_testcase | safe | linebreaks }}</p>

<br />
<br />

<h3>Code Editor</h3>

  <!-- <div class='col-sm-6 col-sm-offset-3'> -->

<form method='POST' action='/submission/' enctype='multipart/form-data'>{% csrf_token %}
    <select class="language" name="lang">
        <option value="Select">Select</option>
        <option value="C">C</option>
        <option value="CPP">C++</option>
        <option value="JAVA">JAVA</option>
        <option value="PYTHON">PYTHON</option>
    </select> <br /><br />
    <input type="hidden" name="source" class="source" value="" />
    <textarea type="text" id="editor" /></textarea>
    <br /><br />
    <input type='submit' class='btn btn-default' value='Submit' />
    <input type="hidden" name="id" value="{{ question.id }}" />
</form>
<!-- </div> -->


<!-- Embed Ace-C9 editor script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var lang = "C";
    $(document).ready(function(){
        $("select").change(function(){
          $("select option:selected").each(function(){
            lang=$(this).text();
            console.log(lang);
          });
        });
    });

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/"+lang);
    // editor.resize();
    
    editor.setAutoScrollEditorIntoView(true);
    editor.setOption("maxLines", 30);
    editor.setOption("minLines", 12);
    editor.getSession().on("change", function () {
      console.log(1);
      $(".source").val(editor.getSession().getValue());
    });
</script>
{% endblock content %}




{% include "footer.html" %}




