{% include "header.html" %}
{% include "footer.html" %}


	




<div class='col-sm-6 col-sm-offset-3'>


<h1>Title : {{ instance.title }}</h1>


<br />
<br />

<div class="row">
	<div class="col-md-10 col-md-offset-1">
    Question : {{ instance.detail | linebreaks }}<br /><br />
    </div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
	Constraint : {{ instance.constraint }}<br /><br />
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
	Input Format : {{ instance.input_format }}<br /><br />
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
	Output Format: {{ instance.output_format }}<br /><br />
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
	Sample TestCase : {{ instance.sample_testcase | linebreaks }}<br /><br />
	</div>
</div>








